<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= startingContent %></p>

<% homeContent.forEach(function(post){ %>
<h2><%= post.title %></h2>
<p>
  <%= (post.content).substring(0,100) + " ..."%>
  <a href="/posts/<%=post._id%>" >Read more</a>
</p>
<%});%>
<form class="" action="/compose" method="get">
  <button type="submit" name="button">+</button>
</form>

<%- include("partials/footer"); -%>
